Notebook Purpose:

- Explore Kaggle dataset containing hourly historical OHLCV for BTC to determine if it can be used as a suitable replacement to generating my own API queries (limited by free version)
- Compare dataset contents with chosen API to ensure compatibility

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('BTC_Historical/bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv')

In [6]:
# Previewing Kaggle Dataset Features:
print(df.columns)

Index(['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume_(BTC)',
       'Volume_(Currency)', 'Weighted_Price'],
      dtype='object')

In [9]:
# Comparing features with my own Query to assess compatibility:
df_api = pd.read_csv('Historical_Data/df_2016_1hrs.csv')
print(df_api.columns)

Index(['Unnamed: 0', 'time_period_start', 'time_period_end', 'time_open',
       'time_close', 'price_open', 'price_high', 'price_low', 'price_close',
       'volume_traded', 'trades_count'],
      dtype='object')

Note - I'll likely need to choose whichever time_period column matches the other dataset and drop the remainders.

Now, I'll investigate the Kaggle dataset more closely, following the OSEMN methodology.

In [4]:
# Checking dataset for missing values
df.isna().any().any()

True

In [5]:
df.isna().any()

Timestamp            False
Open                  True
High                  True
Low                   True
Close                 True
Volume_(BTC)          True
Volume_(Currency)     True
Weighted_Price        True
dtype: bool

Note - historical dataset contains many missing values, will need to make a determination for what to do with these datapoints (or when to choose as our "start date").

In [13]:
df.Open.isna()

0          False
1           True
2           True
3           True
4           True
           ...
4363452    False
4363453    False
4363454    False
4363455    False
4363456    False
Name: Open, Length: 4363457, dtype: bool

In [16]:
# Checking to see how many values each column contains:
for col in df.columns:
    print(f' The {col} column contains {df[col].isnull().sum()} missing values.')

 The Timestamp column contains 0 missing values.
 The Open column contains 1236977 missing values.
 The High column contains 1236977 missing values.
 The Low column contains 1236977 missing values.
 The Close column contains 1236977 missing values.
 The Volume_(BTC) column contains 1236977 missing values.
 The Volume_(Currency) column contains 1236977 missing values.
 The Weighted_Price column contains 1236977 missing values.

Because we can see that each column (aside from Timestamp) contains the same number of missing values, it's likely we can deal with all of these values at once.

Next, I'll segment all datapoints containing missing values into a new DataFrame to see if there are any observable patterns (eg. suppose in 2015 values were only updated daily, so hourly timestamps wouldn't be relevant).

In [24]:
# Let's create a new dataframe using all datapoints with null value for 'Open'
df_missing = df[df['Open'].isnull()]
df_missing.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1325318220,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.Open.unique()

array([4.39000e+00,         nan, 4.50000e+00, ..., 6.88247e+03,
       6.85714e+03, 6.85060e+03])

By comparing other columns in this new DataFrame, we can determine whether (expected because val count is the same) missing values "overlap".

In [32]:
for col in df_missing.columns:
    print(f' The {col} column contains {df_missing[col].isnull().sum()} missing values.')
    print(f' The {col} column contains {df_missing[col].unique()} as unique values.')

 The Timestamp column contains 0 missing values.
 The Timestamp column contains [1325317980 1325318040 1325318100 ... 1587509220 1587509760 1587510300] as unique values.
 The Open column contains 1236977 missing values.
 The Open column contains [nan] as unique values.
 The High column contains 1236977 missing values.
 The High column contains [nan] as unique values.
 The Low column contains 1236977 missing values.
 The Low column contains [nan] as unique values.
 The Close column contains 1236977 missing values.
 The Close column contains [nan] as unique values.
 The Volume_(BTC) column contains 1236977 missing values.
 The Volume_(BTC) column contains [nan] as unique values.
 The Volume_(Currency) column contains 1236977 missing values.
 The Volume_(Currency) column contains [nan] as unique values.
 The Weighted_Price column contains 1236977 missing values.
 The Weighted_Price column contains [nan] as unique values.